
.highlight
    background: #f6f6f6 url(http://static.oushiun.com/blog/global/img/soraaoi.png) repeat 10px 10px!important
    background-size: 30px 30px!important
    font-size: .9em!important
    overflow: auto
    .code
    /* Tomorrow Comment */
    .comment,
    .quote
        color: #999999
    /* Tomorrow Red */
    .variable,
    .template-variable,
    .tag,
    .name,
    .selector-id,
    .selector-class,
    .regexp,
    .deletion
        color: #f2777a
    /* Tomorrow Orange */
    .number,
    .built_in,
    .builtin-name,
    .literal,
    .type,
    .params,
    .meta,
    .link
        color: #f99157
    /* Tomorrow Yellow */
    .attribute
        color: #ffcc66
    /* Tomorrow Green */
    .string,
    .symbol,
    .bullet,
    .addition
        color: #99cc99
    /* Tomorrow Blue */
    .title,
    .section
        color: #6699cc
    /* Tomorrow Purple */
    .keyword,
    .selector-tag
        color: #cc99cc
    .emphasis
        font-style: italic
    .strong
        font-weight: bold