
.highlight
    background: #f6f6f6 url(https://static.oushiun.com/blog/global/img/soraaoi.png) repeat 10px 10px!important
    background-size: 30px 30px!important
    font-size: .9em!important
    overflow: auto
    .code
        .link,
        .emphasis,
        .attribute,
        .addition
            color: #070

        .emphasis
            font-style: italic

        .strong,
        .string,
        .deletion
            color: #d14

        .strong
            font-weight: bold

        .quote,
        .comment
            color: #998
            font-style: italic

        .section,
        .title
            color: #900

        .class .title,
        .type
            color: #458

        .variable,
        .template-variable
            color: #336699

        .bullet
            color: #997700

        .meta
            color: #3344bb

        .code,
        .number,
        .literal,
        .keyword,
        .selector-tag
            color: #099

        .regexp
            background-color: #fff0ff
            color: #880088

        .symbol
            color: #990073

        .tag,
        .name,
        .selector-id,
        .selector-class
            color: #007700
